.overviewSVG {
  height: 220px;
  width: 260px;
}

.infoBoxParagraph {
  font-size: 0.9rem;
  text-align: left;
  width: 200px;
  color: black;
  border: 10px solid #376B7E;
  padding: 10px;
  margin: 20px;
}
